# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Unnamed Project.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Lukas\Documents\Unity Projects\Unnamed Project\.idea\.idea.Unnamed Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
